

body {
    font-family: Arial, sans-serif;
   
    background-image: url('../image/form1.jpg'); /* Replace 'bg6.jpg' with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

